@page
@model Sports.Pages.PlayerPages.DetailsModel
@inject Sports.Services.SharedResourceService sharedLocalizer

@{
    ViewData["Title"] = @sharedLocalizer.Get("Details");
}

<h1>@sharedLocalizer.Get("Details")</h1>

<div>
    <h4>@sharedLocalizer.Get("Player")</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @sharedLocalizer.Get("FirstName")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @sharedLocalizer.Get("LastName")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.LastName)
        </dd>
        <dt class = "col-sm-2">
            @sharedLocalizer.Get("Position")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.Position)
        </dd>
        <dt class = "col-sm-2">
            @sharedLocalizer.Get("TeamName")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @sharedLocalizer.Get("Team")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.Team)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Player.PlayerId">@sharedLocalizer.Get("Edit")</a> |
    <a asp-page="./Index">@sharedLocalizer.Get("BackToList")</a>
</div>
