@page
@model Sports.Pages.PlayerPages.DeleteModel
@inject Sports.Services.SharedResourceService sharedLocalizer

@{
    ViewData["Title"] = @sharedLocalizer.Get("Delete");
}

<h1>@sharedLocalizer.Get("Delete")</h1>

<h3>@sharedLocalizer.Get("DeleteConfirm")</h3>
<div>
    <h4>@sharedLocalizer.Get("Player")</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @sharedLocalizer.Get("FirstName")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @sharedLocalizer.Get("LastName")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.LastName)
        </dd>
        <dt class = "col-sm-2">
            @sharedLocalizer.Get("Position")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.Position)
        </dd>
        <dt class = "col-sm-2">
            @sharedLocalizer.Get("TeamName")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @sharedLocalizer.Get("Team")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.Team)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Player.PlayerId" />
        <input type="submit" value="@sharedLocalizer.Get("Delete")" class="btn btn-danger" /> |
        <a asp-page="./Index">@sharedLocalizer.Get("BackToList")</a>
    </form>
</div>
