@page
@model Sports.Pages.PlayerPages.IndexModel
@inject Sports.Services.SharedResourceService sharedLocalizer

@{
    ViewData["Title"] = @sharedLocalizer.Get("Index");
}

<h1>@sharedLocalizer.Get("Index")</h1>

<p>
    <a asp-page="Create">@sharedLocalizer.Get("CreateNew")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @sharedLocalizer.Get("PlayerId")
            </th>
            <th>
                @sharedLocalizer.Get("FirstName")
            </th>
            <th>
                @sharedLocalizer.Get("LastName")
            </th>
            <th>
                @sharedLocalizer.Get("Position")
            </th>
            <th>
                @sharedLocalizer.Get("TeamName")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Player) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.PlayerId)
            </td>
            <td>
                @Html.DisplayFor(model => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Position)
            </td>
            <td>
                @Html.DisplayFor(model => item.TeamName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PlayerId">@sharedLocalizer.Get("Edit")</a> |
                <a asp-page="./Details" asp-route-id="@item.PlayerId">@sharedLocalizer.Get("Details")</a> |
                <a asp-page="./Delete" asp-route-id="@item.PlayerId">@sharedLocalizer.Get("Delete")</a>
            </td>
        </tr>
}
    </tbody>
</table>
