@page
@model Sports.Pages.TeamPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Team) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(model => item.City)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TeamName">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TeamName">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TeamName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
