@page
@using System.Diagnostics
@model RazorWebAppSQlServer.Pages.DetailsModel
@{
}

<p>Process Name: @Model.MyProcess?.ProcessName</p>
<p>Process ID: @Model.MyProcess?.Id</p>
<p>Start Time: @Model.MyProcess?.StartTime.ToString()</p>
<p>Total Processor Time: @Model.MyProcess?.TotalProcessorTime.ToString()</p>
<p>User Processor Time: @Model.MyProcess?.UserProcessorTime.ToString()</p>
<p>Privileged Processor Time: @Model.MyProcess?.PrivilegedProcessorTime.ToString()</p>
<p>Thread Count: @Model.MyProcess?.Threads.Count.ToString()</p>
<p>Handle Count: @Model.MyProcess?.HandleCount.ToString()</p>


