@model System.Diagnostics.Process[]

@{
    ViewData["Title"] = "Concrete Process Home Page";
}
<h1>@ViewData["Title"]</h1>

<p>These are the O/S processes running on this machine.</p>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Memory (MB)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var process in Model!)
    {
        <tr>
            <td>@process.Id</td>
                <td><a asp-controller="Concrete" asp-action="Display" asp-route-id="@process.Id">
                        @process.ProcessName
                    </a>
                </td>
            <td>@(process.WorkingSet64 / 1024 / 1024)</td>
        </tr>
    }
    </tbody>
</table>

