@page "/mengames"
@attribute [StreamRendering]
@inject ApiClient apiClient
<h1>Mens FIFA Soccer Games</h1>
<h5>There are @numGames games</h5>
@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Year</th>
                <th>Gender</th>
                <th>City</th>
                <th>Country</th>
                <th>Continent</th>
                <th>Winner</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in games)
            {
                <tr>
                    <td>@item.GameId</td>
                    <td>@item.Year</td>
                    <td>@item.Gender</td>
                    <td>@item.City</td>
                    <td>@item.Country</td>
                    <td>@item.Continent</td>
                    <td>@item.Winner</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
     Game[]? games;
    int numGames = 0;
    protected override async Task OnInitializedAsync()
    {
        games = await apiClient.GetMenGamesAsync();
        if(games != null)
        numGames = games.Length;
    }
}
